/* Common Styles */

/* Buttons */
.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-custom {
    /* Custom button styles */
    /* Add your custom button styles here */
}

/* Containers and Alignment */
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.text-center {
    text-align: center;
}

/* Image Styles */
.image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 20px;
    margin-top: 20px;
    justify-items: center;
}

.centered-images {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.centered-images img {
    max-width: 100%;
    height: auto;
    display: block;
}

.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Form Styles */
.form-group {
    margin-bottom: 15px;
}

/* Result Styles */
.result {
    padding: 20px;
    margin-top: 50px;
    border: 1px solid #ccc;
}
